<template>
<div>
  <span v-for="n in bannedConnections"  :key="n[0]+'-'+n[1] " >
    <button class="bannedPair" >
      {{ id2party(n[0]).label }} - {{ id2party(n[1]).label }} 
    </button>
    

  </span>
</div>
</template>

<script>

export default {
  props: ["bannedConnections", "parties"],  
  methods:{
    id2party(id){
      if (this.parties.length > 0){
        console.log("sfd")
      }
      
      let filtered = this.parties.filter(x => x.id == id )
      if(filtered.length == 0){
        return {}
      }else {
        return filtered[0]
      }
    },
    removePair(n){
      
      let index= this.bannedConnections.indexOf(n)
      this.bannedConnections.splice(index,1)
    }
  },
  data(){
    return {test:"aaaa"};
  }
};
</script>

<style>
.bannedPair {
  background-color: brown;
  display: inline-block;
  margin:10px;
  color:white;
  padding:5px;
  font-size: 10px;
  border: 0;

}
</style>