<template>
	<svg-map :map="israel" :locationClass="locationClass" />
</template>

<script>
import { SvgMap } from "vue-svg-map";
import israel from "@svg-maps/israel";

export default {
	name: "MyMap",
	components: {
		SvgMap
	},
	data() {
		return {
			israel,
			locationClass:function(a,b){console.log(a,b);return "a"}
		};
	}
};
</script>

<style >
.svg-map {
  width: 100%;
  height: auto;
  stroke: #666;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round; }
  .svg-map__location {
    fill: #9b9cd9;
    cursor: pointer; }
    .svg-map__location:focus, .svg-map__location:hover {
      fill: #6961e2;
      outline: 0; }
    .svg-map__location[aria-checked="true"] {
      fill: #f44444; }
.a {
	fill:darkolivegreen
}


</style>