<template>
  <div id="app">
    <bannedConnections
    :parties="parties"
    :bannedConnections="bannedPairs"/>
    <banzhafChart
    
      :chartData="parties"
      :banndedPairs="bannedPairs"
      :options="options"
    />
    <BarChart
      :chartData="parties"
      :coalitions="coalitions"
      :options="options"
    />
    <div class="col-md-9">

    </div>
    <div class="col-md-3">

  </div>
  </div>
</template>

<script>

//import BarChart from "./components/BarChart.vue";
import banzhafChart from "./components/banzhafChart.vue"
import BarChart from "./components/BarChart.vue"
import bannedConnections from "./components/bannedConnections"
export default {
  name: "App",
  components: {
    bannedConnections,
    banzhafChart,
    BarChart
  },
  methods :{
    updateData: function(){
      fetch( 'mandates.json').then(x => x.json()).then(function(x){
        this.$set(this, "parties",  x)
      }.bind(this))
      
    }
  },
  created () {
    this.updateData()
  },
  data() {
    
    return { 
      parties:[],
      bannedPairs:[
        [1,2],
        [1,4],
        [1,5],
        [1,33],
        [1,35],
        [1,3],
        [3,39],
        [3,7],
        [3,32],
        [4,8],
        [4,6],
        [33,8],
        [33,7],
        [39,33],
      ],
      coalitions:[{
          label:  "שמאל מרכז",
          parties_ids:[2,3,4,33,5,35]
        },{
          label:  "רק לא ביבבי",
          parties_ids:[2,4,32,33,5,35,7]
        }, {
          label:  "ימין קלאסי",
          parties_ids:[1,39,8,6,7,32]
        },{
          label:  "ליכוד + חרדים + סמוטריץ",
          parties_ids:[1,39,8,6]
      }],
      options:{ 
        responsive: true,
        maintainAspectRatio: false , 
        scales :{
            xAxes:[{stacked:true}],
            yAxes:[{stacked:true}]
        },
        annotation: {
          events: ["click"],
          annotations: [
            {
              drawTime: "afterDatasetsDraw",
              id: "hline",
              type: "line",
              mode: "horizontal",
              scaleID: "y-axis-0",
              value: 20,
              borderColor: "black",
              borderWidth: 5,
              label: {
                backgroundColor: "red",
                content: "Test Label",
                enabled: true,
              },
            }
          ],
        },
      }
    };
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.col-md-9 {
  float:right;
  width:75%;
}
.col-md-3{
  float:right;
  width:25%;
}
</style>
